---
name: 'Rails 指南'
description: 'Ruby on Rails 框架全解'
edition:
version: '5.1.4.p1'
author: 'Rails 团队'
translator: '安道、chinakr'
pages: '781'
revdate: '2017-12-28'
price: '48.00'
order: 2
date: '2021/08/30'
body_class: 'product-page product-railsguides'
---

<% content_for :toc do %>
  <h3>第一部分 新手入门</h3>
  <ul>
    <li><p>第 1 章 Rails 入门</p></li>
  </ul>
  <h3>第二部分 模型</h3>
  <ul>
    <li><p>第 2 章 Active Record 基础</p></li>
    <li><p>第 3 章 Active Record 迁移</p></li>
    <li><p>第 4 章 Active Record 数据验证</p></li>
    <li><p>第 5 章 Active Record 回调</p></li>
    <li><p>第 6 章 Active Record 关联</p></li>
    <li><p>第 7 章 Active Record 查询接口</p></li>
    <li><p>第 8 章 Active Model 基础</p></li>
  </ul>
  <h3>第三部分 视图</h3>
  <ul>
    <li><p>第 9 章 Action View 概述</p></li>
    <li><p>第 10 章 Rails 布局和视图渲染</p></li>
    <li><p>第 11 章 表单辅助方法</p></li>
  </ul>
  <h3>第四部分 控制器</h3>
  <ul>
    <li><p>第 12 章 Action Controller 概览</p></li>
    <li><p>第 13 章 Rails 路由全解</p></li>
  </ul>
  <h3>第五部分 深入探索</h3>
  <ul>
    <li><p>第 14 章 Active Support 核心扩展</p></li>
    <li><p>第 15 章 Rails 国际化 API</p></li>
    <li><p>第 16 章 Action Mailer 基础</p></li>
    <li><p>第 17 章 Active Job 基础</p></li>
    <li><p>第 18 章 Rails 应用测试指南</p></li>
    <li><p>第 19 章 Ruby on Rails 安全指南</p></li>
    <li><p>第 20 章 调试 Rails 应用</p></li>
    <li><p>第 21 章 配置 Rails 应用</p></li>
    <li><p>第 22 章 Rails 命令行</p></li>
  </ul>
  <ul>
    <li><p>第 23 章 Asset Pipeline</p></li>
    <li><p>第 24 章 在 Rails 中使用 JavaScript</p></li>
    <li><p>第 25 章 Rails 初始化过程</p></li>
    <li><p>第 26 章 自动加载和重新加载常量</p></li>
    <li><p>第 27 章 Rails 缓存概览</p></li>
    <li><p>第 28 章 Active Support 监测程序</p></li>
    <li><p>第 29 章 使用 Rails 开发只提供 API 的应用</p></li>
    <li><p>第 30 章 Action Cable 概览</p></li>
  </ul>
  <h3>第六部分 扩展 Rails</h3>
  <ul>
    <li><p>第 31 章 Rails 插件开发简介</p></li>
    <li><p>第 32 章 Rails on Rack</p></li>
    <li><p>第 33 章 创建及定制 Rails 生成器和模板</p></li>
    <li><p>第 34 章 引擎入门</p></li>
  </ul>
  <h3>第七部分 为 Ruby on Rails 做贡献</h3>
  <ul>
    <li><p>第 35 章 为 Ruby on Rails 做贡献</p></li>
    <li><p>第 36 章 API 文档指导方针</p></li>
    <li><p>第 37 章 Ruby on Rails 指南指导方针</p></li>
  </ul>
  <h3>第八部分 维护方针</h3>
  <ul>
    <li><p>第 38 章 Ruby on Rails 的维护方针</p></li>
  </ul>
  <h3>第九部分 发布记</h3>
  <ul>
    <li><p>第 39 章 Ruby on Rails 升级指南</p></li>
    <li><p>第 40 章 Ruby on Rails 5.1 发布记</p></li>
    <li><p>第 41 章 Ruby on Rails 5.0 发布记</p></li>
  </ul>
  <h3>第十部分 补遗</h3>
  <ul>
    <li><p>第 42 章 Rails 应用模板</p></li>
    <li><p>第 43 章 安装开发依赖</p></li>
  </ul>
<% end %>

<% content_for :faq do %>
  <ul>
    <li>
      <h3>这是一本什么书？</h3>
      <p>本书是 <a href="https://guides.rubyonrails.org/" title="Rails Guides" target="_blank" rel="noopener">Rails Guides</a> 的简体中文翻译。原文由众多 Rails 开发人员编写，是官方推出的重要参考资料。</p>
    </li>
    <li>
      <h3>这本书针对 Rails 的哪个版本？</h3>
      <p>本书针对 Rails 5（目前最新的版本），而且会随着英文原版的更新而更新，为您提供最新的参考资料。</p>
    </li>
    <li>
      <h3>付款后如何下载电子书？</h3>
      <p>您付款后，销售平台会给您发送一封电子邮件，邮件中有电子书的下载说明，参照说明即可下载 PDF 和 ePub 格式的电子书。</p>
    </li>
    <li>
      <h3>以后会更新吗？新版还要收费吗？</h3>
      <p>本书采用“精益出版”策略，也就是说会不断更新完善。如果您已经购买电子书，后续小幅更新都可免费获取。</p>
    </li>
    <li>
      <h3>我可以把自己购买的电子书分享给别人吗？</h3>
      <p>本书没有 DRM 限制，为的是让您自由选择阅读设备。本书受版权法保护，因此不能分享给别人。</p>
    </li>
    <li>
      <h3>我是在校生，有什么优惠吗？</h3>
      <p>本书针对在校生提供 7 折优惠，请到<%= link_to '这个网页', url_for('education'), title: '申请教育优惠' %>中申请。请提前准备好学生身份证明文件。</p>
    </li>
  </ul>
<% end %>
