---
name: '使用 RSpec 测试 Rails 应用'
description: 'Rails 应用测试最佳实践'
edition: 
version: '0.0.1'
price: '35.00'
order: 3
date: '2021/08/30'
body_class: 'product-page product-rspeconrails'
---

<section class="toc" id="toc">
  <h2>目录</h2>
  <div class="row">
    <div class="col-12 col-md-6">
      <ul>
        <li>
          <h3>前言</h3>
        </li>
        <li>
          <h3>第 1 章 导言</h3>
        </li>
        <li>
          <h3>第 2 章 安装 RSpec</h3>
        </li>
        <li>
          <h3>第 3 章 模型测试</h3>
        </li>
        <li>
          <h3>第 4 章 创建有意义的测试数据</h3>
        </li>
        <li>
          <h3>第 5 章 控制器测试</h3>
        </li>
        <li>
          <h3>第 6 章 使用功能测试测试用户界面</h3>
        </li>
      </ul>
    </div>

    <div class="col-12 col-md-6">
      <ul>
        <li>
          <h3>第 7 章 使用请求测试测试 API</h3>
        </li>
        <li>
          <h3>第 8 章 去除重复</h3>
        </li>
        <li>
          <h3>第 9 章 快速编写测试，编写快速的测试</h3>
        </li>
        <li>
          <h3>第 10 章 测试其他功能</h3>
        </li>
        <li>
          <h3>第 11 章 迈向测试驱动开发</h3>
        </li>
        <li>
          <h3>第 12 章 最后的建议</h3>
        </li>
        <li>
          <h3>附录 A 安装 Rails 测试相关的更多资源</h3>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="faq" id="faq">
  <h2>常见问题解答</h2>
  <div class="row">
    <div class="col-12 col-md-6">
      <ul>
        <li>
          <h3>这是一本什么书？</h3>
          <p>本书是 <a href="https://leanpub.com/everydayrailsrspec" title="Everyday Rails Testing with RSpec" target="_blank" rel="noopener"><i>Everyday Rails Testing with RSpec</i></a> 的中文版，由原作者授权翻译。此书长期位列 Leanpub 畅销榜，是 Rails 应用测试的首选入门书。</p>
        </li>
        <li>
          <h3>这本书针对 Rails/RSpec 的哪个版本？</h3>
          <p>经过三次全面修订、更新，目前本书已出版到第 3 版。这一版针对 Rails 5/RSpec 3.6。</p>
        </li>
        <li>
          <h3>付款后如何下载电子书？</h3>
          <p>您付款后，销售平台会给您发送一封电子邮件，邮件中有电子书的下载链接，点击链接即可下载全部三种格式的电子书。</p>
        </li>
      </ul>
    </div>

    <div class="col-12 col-md-6">
      <ul>
        <li>
          <h3>以后会更新吗？新版还要收费吗？</h3>
          <p>本书采用“精益出版”策略，也就是说会不断更新完善。如果您已经购买电子书，后续小幅更新都可免费获取。</p>
        </li>
        <li>
          <h3>我可以把自己购买的电子书分享给别人吗？</h3>
          <p>这本书没有 DRM 限制，为的是让您自由选择阅读设备。本书受版权法保护，因此不能分享给别人。</p>
        </li>
        <li>
          <h3>我是在校生，有什么优惠吗？</h3>
          <p>本书针对在校生提供 7 折优惠，请到<%= link_to '这个网页', url_for('education'), title: '申请教育优惠' %>中申请。请提前准备好学生身份证明文件。</p>
        </li>
      </ul>
    </div>
  </div>
</section>
