---
slug: 'tangowithdjango'
name: 'Django 基础教程'
description: 'Tango with Django 中文版'
edition: 
version: '0.0.2'
price: '52.00'
order: 5
date: '2021/08/30'
body_class: 'product-page product-tangowithdjango'
---

<section class="toc" id="toc">
  <h2>目录</h2>
  <div class="row">
    <div class="col-12 col-md-6">
      <ul>
        <li>
          <h3>第 1 章 导言</h3>
        </li>
        <li>
          <h3>第 2 章 前期准备工作</h3>
        </li>
        <li>
          <h3>第 3 章 Django 基础</h3>
        </li>
        <li>
          <h3>第 4 章 模板和媒体文件</h3>
        </li>
        <li>
          <h3>第 5 章 模型与数据库</h3>
        </li>
        <li>
          <h3>第 6 章 模型、模板和视图</h3>
        </li>
        <li>
          <h3>第 7 章 表单</h3>
        </li>
        <li>
          <h3>第 8 章 模板进阶</h3>
        </li>
        <li>
          <h3>第 9 章 用户身份验证</h3>
        </li>
        <li>
          <h3>第 10 章 cookie 和会话</h3>
        </li>
        <li>
          <h3>第 11 章 使用 Django-Registration-Redux</h3>
        </li>
      </ul>
    </div>
    <div class="col-12 col-md-6">
      <ul>
        <li>
          <h3>第 12 章 集成 Bootstrap</h3>
        </li>
        <li>
          <h3>第 13 章 Webhose 搜索</h3>
        </li>
        <li>
          <h3>第 14 章 中期练习</h3>
        </li>
        <li>
          <h3>第 15 章 jQuery 和 Django</h3>
        </li>
        <li>
          <h3>第 16 章 使用 jQuery 处理 Ajax 请求</h3>
        </li>
        <li>
          <h3>第 17 章 自动化测试</h3>
        </li>
        <li>
          <h3>第 18 章 部署 Django 项目</h3>
        </li>
        <li>
          <h3>第 19 章 结语</h3>
        </li>
        <li>
          <h3>附录 A 设置系统</h3>
        </li>
        <li>
          <h3>附录 B 中期练习参考解答</h3>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="faq" id="faq">
  <h2>常见问题解答</h2>
  <div class="row">
    <div class="col-12 col-md-6">
      <ul>
        <li>
          <h3>这是一本什么书？</h3>
          <p>本书是 <a href="https://www.tangowithdjango.com/" title="Tango with Django" target="_blank" rel="noopener">Tango with Django</a> 一书的中文版，由作者授权翻译和销售。本书原版长期占据 Leanpub 畅销榜，是 Django 入门的优秀资料。</p>
        </li>
        <li>
          <h3>这本书针对 Django 的哪个版本？</h3>
          <p>本书兼容 Django 1.9/1.10/1.11，以后还会不断更新，发布新版。</p>
        </li>
        <li>
          <h3>付款后如何下载电子书？</h3>
          <p>您付款后，销售平台会给您发送一封电子邮件，邮件中有电子书的下载链接，点击链接即可下载全部三种格式的电子书。</p>
        </li>
      </ul>
    </div>

    <div class="col-12 col-md-6">
      <ul>
        <li>
          <h3>以后会更新吗？新版还要收费吗？</h3>
          <p>本书采用“精益出版”策略，也就是说会不断更新完善。如果您已经购买电子书，后续小幅更新都可免费获取。</p>
        </li>
        <li>
          <h3>我可以把自己购买的电子书分享给别人吗？</h3>
          <p>这本书没有 DRM 限制，为的是让您自由选择阅读设备。本书受版权法保护，因此不能分享给别人。</p>
        </li>
        <li>
          <h3>我是在校生，有什么优惠吗？</h3>
          <p>本书针对在校生提供 7 折优惠，请到<%= link_to '这个网页', url_for('education'), title: '申请教育优惠' %>中申请。请提前准备好学生身份证明文件。</p>
        </li>
      </ul>
    </div>
  </div>
</section>
