---
title: '登录'
body_class: login-page
---

<div class="row justify-content-center">
  <div class="col-12 col-lg-4">
    <p>笨鸟码书依托 FastSpring 管理用户，请点击下方按钮登录，下载您购买的商品。</p>
    <p><a href="<%= config.site[:fastspring_url] %>/account" title="前往登录" class="btn btn-flap btn-block">前往登录</a></p>
    <p class="help text-center"><a href="">登录有问题？</a></p>
  </div>
</div>
